body {
    margin: 2em;
}

img#logo {
    float: left;
    width: 4em;
    margin-right: 1em;
}

/*
 * Tables ==============================
 */
table {
    border: 1px solid;
    border-collapse: collapse;
}

table thead {
    font-weight: bold;
}

table td {
    border-top: 1px solid;
    padding: 0 0.5em;
}

table .sha-col {
    width: 5em;
    font-
}
table .small-sha {
    max-width: 14em;
    font-size: 0.8em;
    line-break: anywhere;
}

/*
 * Column layout =======================
 */
.cols {
    display: flex;
    flex-wrap: wrap;
}
.cols > .col {
    flex: 1;
    min-width: 300px;
}

/*
 * Status indicators ===================
 */
.status-indicator {
    height: 2rem;
    width: 2rem;
    display: inline-block;
}
.status-indicator.not-started {
    background-color: grey;
}
.status-indicator.in-progress {
    background-color: yellow;
}
.status-indicator.success {
    background-color: green;
}
.status-indicator.failure {
    background-color: red;
}

/*
 * Superseded indicator ================
 */
.superseded {
    color: grey;
}

